button {
    display: flex;
    align-items: center;
    line-height: 0; /*coloca espaço entre o texto, quanod estiver trabalhando com botão é bom tirar para um melhor allinhamento no eixo. */
    gap: .4rem;

    background-color: rgb(70, 232, 232);
    color: #fff;
    transition: 0.7s;
    font-weight: 800;

    border-radius: .4rem;
    
}
button:hover {
  color: rgb(18, 78, 78);
  
}

button img {
width: 2rem;
height: 2rem;

}   

