* {
    margin: 0;
}
body {
display: flex;
gap: 1rem;
}

aside, main {
    height: 95vh;
    margin: 50px 0 0;
 
}
aside {
    border: solid rgb(220, 96, 96);
   
    flex-basis: 18%;
}

main {
  border: solid indigo;
  flex: 1;
}